<div class= "banner banner-cinema">
  <div class="container">
    <h1>My Lists</h1>
    <%= link_to "Add a new list", new_list_path, class: "btn btn-red" %>
  </div>
</div>
<div class= "container">
  <div class="category-cards">
    <% @lists.each do |list| %>
        <%# if list.photo.attached? %>
        <%# url = rails_blob_url(list.photo) %>
      <%# else %>
        <%# url = image_path("jeremy-yap-J39X2xX_8CQ-unsplash.jpg") %>
      <%# end %>


      <div class= "category-card" style="background-image: url(<%= list.background_url %>)">
        <h1><%= link_to list.name, list_path(list.id) %></h1>
      </div>
    <% end %>
  </div>
</div>
